

# Ignore analysis results and converted datasets

#carla_theo_camera_setup
/camera_setup_comparison/carla_theo_camera_setup/results_carla
/camera_setup_comparison/carla_seed4d_nuscenes_camera_diff_adjusted_fov
/camera_setup_comparison/carla_seed4d_nuscenes_camera_diff
/camera_setup_comparison/carla_seed4d_nuscenes_camera_diff_update

#nuscenes_camera_setup
/camera_setup_comparison/nuscenes_camera_setup/rotation_matrix_visualization_one_cam_results
/camera_setup_comparison/nuscenes_camera_setup/sensor_pose_origin_and_sphere_visualization
/camera_setup_comparison/nuscenes_camera_setup/test-trainval_diff
/camera_setup_comparison/nuscenes_camera_setup/format_converted_full_trainval
/camera_setup_comparison/nuscenes_camera_setup/format_converted_nuscenes_adjusted_backwards
/camera_setup_comparison/nuscenes_camera_setup/nerf_to_euler_converted
/camera_setup_comparison/nuscenes_camera_setup/v1.0-test_analysis
/camera_setup_comparison/nuscenes_camera_setup/v1.0-trainval_analysis
/camera_setup_comparison/nuscenes_camera_setup/nuscenes_camera_calibration
/camera_setup_comparison/nuscenes_camera_setup/v1.0-trainval_analysis_ego_transform_matrix
/camera_setup_comparison/nuscenes_camera_setup/v1.0-trainval_analysis_transformed
/camera_setup_comparison/nuscenes_camera_setup/v1.0-trainval_analysis_transformed_+0.9
/camera_setup_comparison/nuscenes_camera_setup/v1.0-trainval_analysis_transformed_update
/camera_setup_comparison/nuscenes_camera_setup/results_all


#seed4d

/camera_setup_comparison/seed4d_camera_setup/results
/camera_setup_comparison/seed4d_camera_setup/output
/camera_setup_comparison/seed4d_nuscenes_camera_diff_ego_transform_matrix
/nuscene_temporal_difference_comparison
/camera_setup_comparison/seed4d_camera_setup/results_all


#camera sensitivity analysis

/camera_sensitivity_analysis/image_quality_analysis_nuscene
/camera_sensitivity_analysis/image_quality_analysis_seed4d
/camera_sensitivity_analysis/nuscene_seed4d_image_quality_comparison
/camera_sensitivity_analysis/results_all